In [1]:
list1=[1,2,3,4]

In [2]:
list1

[1, 2, 3, 4]

In [3]:
list1=[1,'anitha',100.0]

In [4]:
list1

[1, 'anitha', 100.0]

In [5]:
len(list1)

3

# Indexing and slicing in list

In [6]:
list1=['one','two','three']

In [7]:
list1[0]

'one'

In [8]:
list1[::]

['one', 'two', 'three']

In [9]:
list1[:2]

['one', 'two']

# List concatenation

In [10]:
list1=['one','two','three']

In [11]:
list2=['four','five']

In [12]:
final_list=list1+list2

In [13]:
final_list

['one', 'two', 'three', 'four', 'five']

# Lists are Mutable
i.e.,we can change index of indivdual elements.
It is not possible in strings .
And this the difference between STRINGS and LIST

In [14]:
list1=['one','two','three','four']

In [15]:
list1

['one', 'two', 'three', 'four']

In [16]:
list1[0]=1

In [17]:
list1

[1, 'two', 'three', 'four']

# append()  i.e., addition of elements into the list

In [18]:
list1.append('five')

In [19]:
list1

[1, 'two', 'three', 'four', 'five']

In [20]:
list1.append('six')

In [21]:
list1

[1, 'two', 'three', 'four', 'five', 'six']

# pop() i.e.,deletion in list

In [22]:
list1.pop()

'six'

In [23]:
list1

[1, 'two', 'three', 'four', 'five']

###### We can know the deleted item also using pop function.
###### list1.pop() results the deleted item not the list elements.
<i>italic</i>
___

In [24]:
deleted_item=list1.pop()

In [25]:
deleted_item

'five'

In [26]:
list1

[1, 'two', 'three', 'four']

In [27]:
list1.pop(0)

1

In [28]:
list1

['two', 'three', 'four']

# Sorting of elements in list   sort()

In [29]:
list1=['a','j','d','w','e']

In [30]:
list1.sort()

In [31]:
list1

['a', 'd', 'e', 'j', 'w']

In [32]:
my_sorted_list=list1.sort()

In [33]:
my_sorted_list

It doesn't show any thing..because it will not reassign sorted list.
You can do like this...
list1.sort()
my_sorted_list=list1
my_sorted_list

In [34]:
type(my_sorted_list)

NoneType

In [35]:
None

# List reversal  reverse()

In [36]:
list1=[1,2,3,4,5]

In [37]:
list1.reverse()

In [38]:
list1

[5, 4, 3, 2, 1]

# Nested list

In [39]:
list1=[1,2,3,[4,5]]

In [40]:
list1

[1, 2, 3, [4, 5]]

In [41]:
list1[3][0]

4

In [42]:
list1[3][1]

5

Here 3 is the index where second list is present in main list and next index is the index of the element in second list

In [43]:
((1*1000)/10)+0.50-0.25

100.25

###  join

In [44]:
list1=['a','b','c']
list1

['a', 'b', 'c']

In [45]:
''.join(list1)

'abc'

In [46]:
' '.join(list1)

'a b c'

In [47]:
## reverse the words in a sentence
def myfunc(sent):
    list1=sent.split()
    rev_list=list1[::-1]
    return ' '.join(rev_list)

In [48]:
myfunc('my name is anitha')

'anitha is name my'

In [3]:
def myfunc(sent):
    rev_list=sent[::-1]
    return ''.join(rev_list)

In [4]:
myfunc('my name is anitha')

'ahtina si eman ym'

In [5]:
list1=['abc','def','rfgh','def']

In [6]:
num=list(range(1,10))

In [7]:
num

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
num=[x for x in range(1,10)]

In [9]:
num

[1, 2, 3, 4, 5, 6, 7, 8, 9]