In [1]:
mystring='hello hi'

In [2]:
list1=[]

In [3]:
for item in mystring:
    list1.append(item)
list1

['h', 'e', 'l', 'l', 'o', ' ', 'h', 'i']

In [4]:
### in a single line

In [5]:
list1=[item for item in mystring]
list1

['h', 'e', 'l', 'l', 'o']

######  square of a number

In [7]:
list1=[num**2 for num in range(1,11)]
list1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

###### even number in a range using if statement

In [8]:
list1=[x for x in range(1,20) if x%2==0]
list1

[2, 4, 6, 8, 10, 12, 14, 16, 18]

###### if else in list comprehension

In [10]:
result=[x if x%2==0 else 'odd' for x in range(1,11)]
result

['odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

###### nested for loop

In [11]:
list1=[]
for x in [1,2,3]:
    for y in [1,2,3]:
        list1.append(x*y)
list1

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [12]:
list1=[x*y for x in[1,2,3] for y in [1,2,3]]
list1

[1, 2, 3, 2, 4, 6, 3, 6, 9]