# sets
###### unordered collection on unique elements,curly braces
no duplicate elements i.e., adding same element into set show a single element

In [1]:
my_set=set()

In [2]:
my_set

set()

###### additing elements into a set using add () method

In [3]:
my_set.add(1)

In [4]:
my_set

{1}

In [5]:
my_set.add(2)

In [6]:
my_set

{1, 2}

In [8]:
my_set.add(2)

In [9]:
my_set

{1, 2}

In [ ]:
#### Above element 2 is not added again..only unique values

## combining lists and sets to get unique values in the form of the set, using 
set(list_name)

In [10]:
list1=[1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [13]:
set1(list1)

NameError: name 'set1' is not defined

In [14]:
set(list1)

{1, 2, 3}

## to split string into set of letters(non-repeating)

In [15]:
'mississippi'

'mississippi'

In [16]:
set('mississippi')

{'i', 'm', 'p', 's'}